.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

table {
    width: 100%;
  }
  
  tr.user-detail-row {
    height: 0;
  }
  
  tr.user-element-row:not(.user-expanded-row):hover {
    background: #babcbd;
    cursor: pointer;
  }
  
  .user-expanded-row {
    background: #babcbd;
    cursor: pointer;
  }
  
  .user-element-row td {
    border-bottom-width: 0;
  }
  
  .user-element-detail {
    overflow: hidden;
  }
  
  .user-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .user-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .user-element-description {
    padding: 16px;
  }
  
  .user-element-description-attribution {
    opacity: 0.5;
  }